* {
  box-sizing: border-box;
}

.container {
  background-color: white;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  width: 700px;
  height: 700px;
}

.pixel {
  background-color: green;
  border: solid black 1px;
}

.pixel.colored {
  background-color: yellow;
}
